/*-------------------
    VARIABLES
-------------------*/
:root {
    // Colors
    --primary-color: #20ad96;
    --bg-primary-color: #faf8f6;
    --gray: #8c89a2;
    // Container size
    --container-size: 56.25rem;
}