/*-------------------
    VARIABLES
-------------------*/
:root {
    // Colors
    --secondary-font-color: #3f3a64;
    --primary-font-color: #9d9aae;
    --tertiary-font-color: #696969;
    --primary-color: #20ad96;
    --bg-primary-color: #faf8f6;
    --gray: #b4b4b4;
    --white:#fff;
    // Container size
    --container-size: 56.25rem;
}